/* Global styles */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header styles */

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

#navbar{
	height: 3em;
	background-color: #333;
	position: fixed;
	width: 100%;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    margin: 1;
    padding: 15px;
    padding: 2;

}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* Main content styles */
#welcome-section{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: beige;
}
section {
	padding: 50px;
}

.about {
	background-color: #f9f9f9;
}

#contact {
	background-color: #d9d9d9;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

form label {
	display: block;
	margin-bottom: 10px;
}

.aboutHeader {
	text-align: center;
}
#project-tile{
	text-align: center;
}